#wrapper{
width: 1000px;
margin: 0 auto;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:black;
}

nav li {
float: left;
}

nav li a {
display: block;
color:white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family:verdana;
}

li a:hover:not(.active) {
    background-color:grey;
}

.active {
    background-color:green;
}

#IntroductionPage{
margin-left:50px;
}

#Introduction{
position:relative;
top:-243px;
margin-left:-152px;
font-family:verdana;
background-color:green;
color:black;
padding:5px;
text-decoration:none;
}

#infor{
position:relative;
top:-240px;
margin-left:-159px;
background-color:orange;
color:white;
text-decoration:none;
padding:8px;
font-family:verdana;
width:200px;
}

#Proto-sitePage{
position:relative;
top:-295px;
margin-left:530px;
margin-bottom:-290px;
}

#Proto-site{
position:relative;
top:-240px;
margin-left:-159px;
text-decoration:none;
padding:8px;
font-family:verdana;
background-color:orange;
color:white;
}

#SiteMapPage{
margin-left:50px;
margin-bottom:-250px;
}

#Sitepage{
position:relative;
top:-247px;
margin-left:-152px;
text-decoration:none;
font-family:verdana;
padding:8px;
background-color:orange;
color:white;
}

#RationalePage{
position:relative;
top:-50px;
margin-left:530px;
}

#Rationale{
position:relative;
top:-240px;
margin-left:-153px;
text-decoration:none;
font-family:verdana;
padding:8px;
background-color:orange;
color:white;
}

#Sitepage:hover:not(.active) {
    background-color:grey;
}

#Rationale:hover:not(.active) {
    background-color:grey;
}

#Proto-site:hover:not(.active) {
    background-color:grey;
}

#infor:hover:not(.active) {
    background-color:grey;
}

h1{
margin-top:-.5px;
background-color:green;
font-family:verdana;
text-align:center;
padding:5px;
width:250px;
}

.orange{
background-color:orange;
width:220px;
padding:3px;
text-align:center;
font-family:verdana;
}

p{
position:relative;
top:-40px;
margin-left:235px;
font-family:verdana;	
}

h3{
font-family:verdana;
}

h3 li{
background-color:white;
}

h4{
margin-top:-17px;
background-color:green;
font-family:verdana;
text-align:center;
padding:5px;
width:250px;
}

footer{
background-color:black;
text-align:center;
}

footer a{
font-family:verdana;
color:green;
text-decoration:none;
}