
/*Agenda*/
.banner ul li{
  display:inline;
}


/*lecture_page #3073AC*/

#lecture_page {
  position:relative;
  right:10px;
  font-family:'Trebuchet MS', Sans-serif;
  background-color: #6D9BC3;
  color: #000000;
  margin-bottom:5px;
  text-align: center;
}

#agenda {
	font-size: 3em;
	display:block;
}

.container {
  width:100%;
}

.panel-group {
  width:100%;
}

.row {
  width:100%;
}

/*Panel Sections*/

.panel {
    width:100%;
}

.panel-heading {
  background: #6D9BC3;
}

.panel-body {
  background:#ccdcec;

}

/*Fragment Identifier*/
#content_section {
  border: 1px solid white;
  width:100%;
  height:150px;
  padding:20px 0px 20px;
  background-color:#3b5780;
  color:#ffffff;
  text-align:center;
  font-size: 1.2em;

}

#content_section a {
  display:inline;
  border: 1px solid white;
  color:black;
  background-color:#6D9BC3;
  padding-left:2px;


}

 #content_section a:hover{
  background-color:#3b5780;
  color:white;
  font-size: 1.4em;
}


code {
  color: #A6542B;
}

body {
  background:#e0e2e4;
}

#rightcont {
  position:relative;
  left:30px;
  text-align: center;
  background-color:#3b5780;
  color:white;
  font-family:'Trebuchet MS', Sans-serif;
}

#rightcont a{
      color:white;
}

#rightcont a:hover{
      color:black;
}
.lectures  {
    color:white;
}

.lectures:hover {
    color:black;
}


/*Targeting more panel attributes on font headers and styles*/

.panel-body h2 {
  font-family: Tahoma, Geneva, sans-serif;
  color: #181999;
}

.panel-body h2,a {
  display:inline;
}

.panel-title {
  font-family:Arial, Verdana, sans_serif;
  font-size: 1.3em;
  font-weight:bold;
  color: #181999;
  text-align: center;
  text-decoration:underline;
  }

.panel-title:hover {
  font-size: 1.6em;
}

.top-fragment {
  float:right;
  color: 	#CC835E;
  font-family: Tahoma, Geneva, sans-serif;
  font-size:1.4em;
  font-weight:bold;
}


.panel{

  background: #47657F;
  font-family:'Trebuchet MS', Sans-serif;
}



dd, dt{ display:inline;}

.panel-collapse {
  collapse: in;
}

#butt{
  background:#6D9BC3;
  color:black;
  align-items:center;
  border: 1px solid white;
}
